<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @model.comment %>
</p>

<p>
  <strong>Board:</strong>
  <%= @model.board_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @model.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
